body {
  margin: 0;
  margin-left: 2%;
  margin-right: 2%;
  font-family: Georgia, Times, 'Times New Roman', serif, sans-serif;
  background-color: rgb(230, 224, 217);
  
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  
}

/* Célula 1 - Título */
.titulo {
  grid-column: 1/4;
  background-color: #b2ebf2;
  font-size: 2em;
  text-align: center;
  border-radius: 10px;
}

/* Célula 2 - Géneros */
.generos {
  grid-column: 1;
  grid-row: 2 / 4;
  background-color: #80deea;
  border-radius: 10px;
}

/* Célula 3 - Sinopse */
.sinopse {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #4dd0e1;
  border-radius: 10px;
  padding: 5px;
}

/* Célula 4 - Informações gerais */
.info-geral {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: #26c6da;
  border-radius: 10px;
  padding: 5px;
}

.atores{grid-column: 2/4;
        grid-row: 3/4;
      background-color: #26c6da;
      border-radius: 10px;
      padding: 5px;
    }
      

.atoresFoto{
 
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  padding: 5px;
}
#ator1{ 
  background-color: #80deea;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
#ator2{background-color: #80deea;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

#ator3{background-color: #80deea;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

@media screen and  (max-width:900px) {
  .atoresFoto{flex-direction: column;  
  }
}